* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   box-sizing: border-box;
}

body {
   background-color: rgba(0, 0, 0, 1);
   width: 100%;

}

@font-face {
   font-family: firagoregular;
   src: url(../fonts/FiraGO-Regular.ttf);
}

@font-face {
   font-family: firagosemibold;
   src: url(../fonts/FiraGO-SemiBold.ttf);
}

header {
   background-color: rgba(0, 0, 0, 1);
   width: 100%;
   height: 100px;
   padding: 38px 0px 38px 60px;
   border-bottom: 1px solid rgba(195, 195, 195, 1);

}

.logo {
   font-family: firagoregular;
   font-size: 20px;
   float: left;
   margin-right: 745px;
}

.logo a {
   color: rgba(231, 231, 231, 1);

}

nav li {
   float: left;
   margin-right: 20px;
}

nav a {
   font-family: firagoregular;
   font-size: 16px;
   color: rgba(231, 231, 231, 1);
   padding: 5px 10px;
}

.mtavari {
   font-family: firagosemibold;
}

.werili {
   font-family: firagoregular;
   color: rgba(255, 255, 255, 1);
   font-size: 128px;
   margin-left: 66px;
   padding-top: 38px;
   margin-bottom: 182px;
   letter-spacing: 128px;

}

.pirveli {
   float: left;
   font-family: firagoregular;
   font-size: 20px;
   color: rgba(255, 255, 255, 1);
}

.pirveli1 {
   width: 300px;
   margin-left: 60px;
}

.pirveli2 {
   width: 115px;
   margin-left: 132px;
}

.pirveli3 {
   width: 30%;
   height: 238px;
   margin-left: 114px;
}

.border {
   border: 1px solid rgba(195, 195, 195, 1);
   margin-top: 732px;
   margin-bottom: 50px;
}

.seqcia img {
   width: 464px;
   height: 658px;
   overflow: hidden;
   margin-top: 20px;
   margin-bottom: 100px;

}

.seqcia1 {
   float: left;
   margin-left: 10px;

}

.seqcia2 {
   float: left;
   margin-left: 14px;
   margin-right: 14px;
}

.fonts a {
   font-family: firagoregular;
   font-size: 20px;
   color: rgba(255, 255, 255, 1);
}

footer {
   width: 100%;
   height: 200px;
   background-color: rgba(0, 0, 0, 1);
   border-top: 1px solid rgba(195, 195, 195, 1);
}

.foter img {
   width: 100px;
   height: 100px;
   float: left;
   overflow: hidden;
   margin: 50px 16px 50px 112px;
}

.shekveta {
   font-family: firagoregular;
   font-size: 36px;
   margin-top: 60px;
}

.shekveta1 {
   font-family: firagoregular;
   font-size: 24px;
}

.color {
   color: rgba(255, 255, 255, 1);
}